jobs:
  job5s:
    enable: true
    schedule: ""
    periodic: 5s
    endpoint: "http://localhost:8080/job5s"
    credentials:
      username: username
      password: password
  job1minutes:
    enable: true
    schedule: "* * * * *"
    periodic: 0s
    endpoint: "http://localhost:8080/job1minutes"
    credentials:
      username: username
      password: password
  jobDisableJob:
    enable: false
    schedule: ""
    periodic: 5s
    endpoint: "http://localhost:8080/jobDisableJob"
    credentials:
      username: username
      password: password
